.boards-menu
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-flow: row wrap
	

	&__item
		
		flex-grow: 1
		flex: none
		
.add-board
	width: 200px	
	background-color: #459
	height: 100px
	margin: 10px
.boards-list
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-flow: row wrap
	

	&__item
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: space-around
		height: 100px
		width: 200px
		flex-grow: 1
		flex: none
		background-color: green
		margin: 10px
